:root {
    --pri: #FCDEC0;
    --sec: #3b231d;
    --tri1: #f6b504;
    --tri2: #8c572b;
    --red: red;
    --green: rgb(9,138,89);
    --blue: rgb(0,191,255);
    --black: var(--black)
}

@font-face {
    font-family: bold;
    src: url(fonts/bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(fonts/regular.ttf);
}

@font-face {
    font-family: light;
    src: url(fonts/fonnts.com-garet-light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bold;
    color: var(--pri);
}
html,
body {
    height: 100%;
    width: 100%;

}
#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);

}
nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    overflow: auto;
    position: absolute;
}
.allElems header{
    height: 250px;
    width: 100%;
    background-image: url(https://img.jagranjosh.com/images/2025/June/462025/why-is-the-sky-blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

header .header1 h1{
    font-size: 70px;
    margin-bottom: 30px;
}
header .header1 h2{
    font-size: 20px;
    font-weight: 500;
}
header .header1 h4{
    font-weight: 300;
    font-size: 40px;
}
header .header2 h2{
    font-size: 35px;
    margin-bottom: 30px;
}
header .header2 h1{
    font-size: 40px;
}
header .header2 h4{
    font-size: 15px;
}
header .header2 h3{
    font-size: 15px;
}


.allElems .allFeatures{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem {
    background-color: var(--tri1);
    overflow: hidden;
    border-radius: 10px;
    font-size: 20px;
    height: 280px;
    width: 200px;
    position: relative;
    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: 0 5px 10px var(--black);
}
.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2 {
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 25px;
    font-family: regular;
}
.elem:active {
    scale: 0.97;
}
.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 20px;

    display: none;
    position: absolute;
}
.back {
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    font-weight: 200;
}
.back:active {
    scale: 0.97;
}
.todo-list-fullpage h2 {
    font-size: 50px;
}
.todo-list-fullpage .todo-container {
    width: 100%;
    height: 80%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask {
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;

}
.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form #task-input {
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 500;
}
.todo-container .addTask form textarea {
    padding: 10px 25px;
    height: 180px;
    resize: none;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button {
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 700;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active {
    scale: 0.96;
}
.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.task h5 {
    color: var(--sec);
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.task h5 span {
    color: var(--pri);
    background-color: var(--red);
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 50px;
    font-size: 10px;
}
.task h5 span.true {
    opacity: 1;
}
.task h5 span.false {
    opacity: 0;
}
.task button {
    padding: 10px 20px;
    color: var(--pri);
    background-color: var(--green);
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
}
.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 100%;
    gap: 30px;
}
.mark-imp input {
    scale: 1.7;
}

/* .mark-imp label {} */
/* .daily-planner-fullpage{
    /* display: block; 
} */
.daily-planner-fullpage h2{
    font-size: 50px;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 1%;
    font-size: 18px;
}
.day-planner .day-planner-time input{
    padding: 15px 40px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    padding-top: 32px;
    font-size: 26px;
    outline: none;
}
.motivational-fullpage{
    /* display: block; */
    position: relative;
}

.motivation-fullPage-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;
 }
.motivational-fullpage .motivation-container{
    width: 80%;
    height: 250px;
   
    position: relative;
}
.motivational-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 30px;
    scale: 1.1;
    filter: blur(70px);
    z-index: 8;
}
.motivational-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    /* height: 100%; */
    border-radius: 15px;
    width: 100%;
   padding: 7px;
    background-color: var(--tri1);
    border: 4px solid var(--tri2);
}
.motivation-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.motivation-1 h2{
    background-color: var(--tri2);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
.motivation-2{
    padding: 10px;
    margin-top: 10px;
}
.motivation-2 h3{
    font-size: 30px;
    /* color: #ffdcb8; */
    font-weight: 500;
    color: var(--sec);
}
.motivation-3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
.motivation-3 h3{
    background-color: var(--tri2);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}
.motivational-fullpage .motivation-container .motivation-wrapper img{
    position: absolute;
    height: 60px;
    right: 5%;
    opacity: 0.4;
    top: 5%;
}
/* .pomodoro-fullpage{
    /* display: block; 
} */
.pomodoro-fullpage h2{
    font-size: 30px;
}
.pomodoro-fullpage .pomo-time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.pomo-time h1{
    font-size: 120px;
}
.pomo-time button{
    background-color: var(--tri2);
    padding: 10px 30px ;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 0px var(--black);
    transition: all ease 0.2s;
    font-weight: 700;
}
.pomo-time button:active{
    box-shadow: 0px 0px 0px var(--black);
}

.pomodoro-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    background-color: var(--green);
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
}